.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;

  flex: 1 0 0;
  max-inline-size: 100%;
  min-inline-size: 0;

  margin: 0;
  border: none;
  background: transparent;

  transition: .15s ease-out;
  color: #959595;

  padding: 4px 12px 4px;
  gap: 4px;
}

.wrapper--selected {
  color: #007AFF;
}

.text {
  white-space: nowrap;
  max-inline-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1px;
}
