.wrapper {
  --gifts-font-weight-1: 700;
  --gifts-font-weight-2: 600;
  --gifts-font-weight-3: 400;


  --gifts-button-text-color-primary: #fff;
  --gifts-button-color-primary: #007AFF;

  --gifts-font-size-1: 13px;
  --gifts-font-size-2: 14px;
  --gifts-font-size-3: 16px;

  --gifts-font-line-height-1: 18px;

  --gifts-font-letter-spacing-1: -0.08px;
  --gifts-font-letter-spacing-2: -0.43px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", sans-serif;
}

@supports (padding-top: constant(safe-area-inset-bottom)) {
  .wrapper {
    --gifts-safe_area_inset_bottom: constant(safe-area-inset-bottom);
  }
}

@supports (padding-top: env(safe-area-inset-bottom)) {
  .wrapper {
    --gifts-safe_area_inset_bottom: env(safe-area-inset-bottom);
  }
}
